.NavBar {
  background-color: white;
  border-bottom-color: grey;
}

.nav {
  margin: 0;
  padding: 0;
}

.fas fa-home {
  margin-right: 10;
  padding-right: 10;
}

.nav item {
  margin: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

.item:hover {
  background-color: coral
}
